
mc/*
!mc/eula.txt
!mc/paper.jar

!mc/plugins/
mc/plugins/*
!mc/plugins/bluemap-5.22-paper.jar
!mc/plugins/BlueMap/

mc/plugins/BlueMap/*
!mc/plugins/BlueMap/webserver.conf

node_modules/*
tests/logs/*
compiler/build/
